extends layout.pug 

block contents 

    div(class = 'form-container')
        div(class='row justify-content-center')
            div(class = "col-12 ")
                if(movie)
                    h3 Do you really want to delete #{movie.name} ?

                    form(method='POST' action='' )
                        div(class="form-group ")
                            label( for="password") #[strong Password]
                            input( type="password" class="form-control" name="adminPassword" placeholder="1234" )

                        div.form-group
                            input#authorid.form-control(type='hidden',name='movieId', required='true', value=movie._id )

                        button(type="submit" class='btn btn-danger') Delete 
                else 
                    p There is some error in deleting this 

    if(error)
        p(class='errorControl' style="color:brown; font-size: larger;") #{error}          
